body{
    width: 100%;
    height: auto;
    background-image: url("./level.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:52vw 100%;
    background-attachment: fixed;   
    background-color: #c06e0382;  
}

.title{
    color: #fff;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.normal{
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hard{
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#hard{
    color: #fff;
}

.nightmare{
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}
